.layout {
  position: relative;

  .controller {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;

    .btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80px;
      padding: 10px 0;
      margin-right: 15px;
      border: 1px solid #fff;
      border-radius: 10px;
      font-size: 14px;
      color: #fff;
      cursor: pointer;

      &.active {
        background: rgba(0, 0, 0, 0.3);
      }

      &:last-child {
        margin-right: 0;
      }

      .icon {
        margin-bottom: 10px;
      }
    }
  }
}
